POSTGRES_DB=dochadzka
POSTGRES_USER=dochadzka
POSTGRES_PASSWORD=ZMEN_DB_HESLO

JWT_SECRET=ZMEN_DLHY_NAHODNY_TAJNY_KLUC
JWT_EXPIRE_MINUTES=10080

ADMIN_LOGIN=admin
ADMIN_PASSWORD=ZMEN_ADMIN_HESLO
ADMIN_NAME=Administrátor

API_PORT=8000
ALLOWED_ORIGINS=*
